* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Unbounded";
}

.header {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #31705d97;
}

.logo-image {
    width: 85px;
    margin: 8px;
}

body {
    background-color: #FCF8EB;
    color: #1F3030;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    border: 1px solid #31705d97;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(70, 189, 152, 0.263);
}

.article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.article-content {
    display: flex;
    flex-direction: column;
}

.article-content h2 {
    margin-bottom: 10px;
}

.article-content .meta {
    font-size: 14px;
    color: #31705de7;
    margin-bottom: 10px;
}

.article-content p {
    line-height: 1.5;
}

.sidebar {
    padding: 20px;
    border: 1px solid #31705d97;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(70, 189, 152, 0.263);
}

.sidebar a {
    color: #C2644F;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .main-content {
        grid-template-columns: 1fr;
        grid-template-areas:
            "sidebar"
            "articles";
        gap: 15px;
        padding: 10px;
    }

    .sidebar {
        grid-area: sidebar;
        margin: 10px 0 10px 0; 
        padding: 15px;
    }

    .articles {
        grid-area: articles;
        gap: 15px;
    }

    .article {
        grid-template-columns: 1fr;
        padding: 15px;
    }

    .article img {
        height: 200px;
    }

    .logo-image {
        width: 60px;
    }
}
